<%= form_for(@sprint_backlog) do |f| %>
  <% if @sprint_backlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint_backlog.errors.count, "error") %> prohibited this sprint_backlog from being saved:</h2>

      <ul>
      <% @sprint_backlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
